<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro Donante</title>
</head>
<body>
<h2>Registrarse como Donante</h2>

<div th:if="${error}" th:text="${error}" style="color: red;"></div>

<form th:action="@{/register/donante}" th:object="${donante}" method="post">
    <label>Nombre:</label>
    <input type="text" th:field="*{nombre}" required/><br/><br/>

    <label>Apellido:</label>
    <input type="text" th:field="*{apellido}" required/><br/><br/>

    <label>Email:</label>
    <input type="email" th:field="*{email}" required/><br/><br/>

    <label>Contraseña:</label>
    <input type="password" th:field="*{password}" required/><br/><br/>

    <input type="hidden" name="esJuridico" value="false" />

    <button type="submit">Crear Cuenta</button>


</form>
</body>
</html>